body {
    background-image:linear-gradient(to bottom, red, yellow) ;
}


h1,h2 {
    margin: 9px;
}


 
#cabeçalho {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 8px;
    margin: 24px
}